1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

##### a)

In [4]:
for num in range(1, 101):
    if num%5 == 0 and num%3 == 0:
        print("MickeyMouse")
    elif num%3 == 0:
        print("Mickey")
    elif num%5 == 0:
        print("Mouse")
    else:
        print(num)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

##### b)

In [5]:
num_tuple = ()
for num in range(1, 101):
    if (num%5 == 0) and (num%3 == 0):
        num_tuple += ("DonaldDuck",)
    elif num%3 == 0:
        num_tuple += ("Donald",)
    elif num%5 == 0:
        num_tuple += ("Duck",)
    else:
        num_tuple+= (num,)

print(num_tuple)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
x = input("Value of x: ")
y = input("Value of y: ")

print(x, y)

y, x = x, y

print(x, y)

Value of x: 12
Value of y: 55
12 55
55 12

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [11]:
def euclidean_distance(u, v):
    return ((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2)

euclidean_distance((3,0), (0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [15]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
char_list = []
for char in s:
    if char not in char_list:
        char_list.append((char, 1))
print(char_list)

[('w', 1), ('r', 1), ('i', 1), ('t', 1), ('e', 1), (' ', 1), ('a', 1), (' ', 1), ('p', 1), ('r', 1), ('o', 1), ('g', 1), ('r', 1), ('a', 1), ('m', 1), (' ', 1), ('t', 1), ('h', 1), ('a', 1), ('t', 1), (' ', 1), ('p', 1), ('r', 1), ('i', 1), ('n', 1), ('t', 1), ('s', 1), (' ', 1), ('t', 1), ('h', 1), ('e', 1), (' ', 1), ('n', 1), ('u', 1), ('m', 1), ('b', 1), ('e', 1), ('r', 1), ('s', 1), (' ', 1), ('f', 1), ('r', 1), ('o', 1), ('m', 1), (' ', 1), ('1', 1), (' ', 1), ('t', 1), ('o', 1), (' ', 1), ('1', 1), ('0', 1), ('0', 1), ('.', 1), (' ', 1), ('b', 1), ('u', 1), ('t', 1), (' ', 1), ('f', 1), ('o', 1), ('r', 1), (' ', 1), ('m', 1), ('u', 1), ('l', 1), ('t', 1), ('i', 1), ('p', 1), ('l', 1), ('e', 1), ('s', 1), (' ', 1), ('o', 1), ('f', 1), (' ', 1), ('t', 1), ('h', 1), ('r', 1), ('e', 1), ('e', 1), (' ', 1), ('p', 1), ('r', 1), ('i', 1), ('n', 1), ('t', 1), (' ', 1), ('m', 1), ('i', 1), ('c', 1), ('k', 1), ('e', 1), ('y', 1), (' ', 1), ('i', 1), ('n', 1), ('s', 1), ('t', 1), ('e', 1), ('a', 1), ('d', 1), (' ', 1), ('o', 1), ('f', 1), (' ', 1), ('t', 1), ('h', 1), ('e', 1), (' ', 1), ('n', 1), ('u', 1), ('m', 1), ('b', 1), ('e', 1), ('r', 1), (' ', 1), ('a', 1), ('n', 1), ('d', 1), (' ', 1), ('f', 1), ('o', 1), ('r', 1), (' ', 1), ('t', 1), ('h', 1), ('e', 1), (' ', 1), ('m', 1), ('u', 1), ('l', 1), ('t', 1), ('i', 1), ('p', 1), ('l', 1), ('e', 1), ('s', 1), (' ', 1), ('o', 1), ('f', 1), (' ', 1), ('f', 1), ('i', 1), ('v', 1), ('e', 1), (' ', 1), ('p', 1), ('r', 1), ('i', 1), ('n', 1), ('t', 1), (' ', 1), ('m', 1), ('o', 1), ('u', 1), ('s', 1), ('e', 1), ('.', 1), (' ', 1), ('f', 1), ('o', 1), ('r', 1), (' ', 1), ('n', 1), ('u', 1), ('m', 1), ('b', 1), ('e', 1), ('r', 1), ('s', 1), (' ', 1), ('w', 1), ('h', 1), ('i', 1), ('c', 1), ('h', 1), (' ', 1), ('a', 1), ('r', 1), ('e', 1), (' ', 1), ('m', 1), ('u', 1), ('l', 1), ('t', 1), ('i', 1), ('p', 1), ('l', 1), ('e', 1), ('s', 1), (' ', 1), ('o', 1), ('f', 1), (' ', 1), ('b', 1), ('o', 1), ('t', 1), ('h', 1), (' ', 1), ('t', 1), ('h', 1), ('r', 1), ('e', 1), ('e', 1), (' ', 1), ('a', 1), ('n', 1), ('d', 1), (' ', 1), ('f', 1), ('i', 1), ('v', 1), ('e', 1), (' ', 1), ('p', 1), ('r', 1), ('i', 1), ('n', 1), ('t', 1), (' ', 1), ('m', 1), ('i', 1), ('c', 1), ('k', 1), ('e', 1), ('y', 1), ('m', 1), ('o', 1), ('u', 1), ('s', 1), ('e', 1)]

In [ ]:
s

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [26]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count_unique(l):
    unique_l = []
    for num in l:
        if num not in unique_l:
            unique_l.append(num)
    return unique_l

print(count_unique(l))
print(len(count_unique(l)))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [18]:
def square(x):
    return x**2
def cubic(x):
    return x**3
def power_6th(x):
    return cubic(square(x))
print(power_6th(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [20]:
cub_list = []
for num in range(11):
    cub_list.append(num**3)
print(cub_list)

cub_list_comp = [x**3 for x in range(11)]
print(cub_list_comp)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [27]:
def normalize_tuple(t):
    total_square = 0
    for num in t:
        total_square += num**2
    normalized_tuple = ()
    for num in t:
        normalized_tuple += (num/(total_square**(1/2)),)
    return normalized_tuple

print(normalize_tuple((1, 0, 2, 1)))

TypeError: can only concatenate tuple (not "float") to tuple